<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Drone Dispatcher</title>

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>

</head>

<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">Home</a>
</nav>

<main role="main" class="container">

    <div class="starter-template">
        <h1><span th:text="${helloString}"></span></h1>
    </div>
    <div class="starter-template">
        <h2><span th:text="'Drones total count: ' + ${droneCount} + ', available: ' + ${droneAvailableCount}"></span></h2>
        <h2><span>SHOW <a th:href="@{/drones}">ALL</a> | <a th:href="@{/drones?available=1}">AVAILABLE</a></span></h2>
    </div>

    <table class="table table-dark table-hover">
        <thead class="thead-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Image</th>
            <th scope="col">Type</th>
            <th scope="col">Load</th>
            <th scope="col">Max. load</th>
            <th scope="col">Battery, %</th>
            <th scope="col">State</th>
<!--            добавил колонку с изображениями-->
        </tr>
        </thead>
        <tr th:each="drone: ${drones}">
            <td><a th:href="@{'/drone/' + ${drone.id}}" th:text="${drone.id}"/>
            <td>
                <img th:src="@{'/images/' + ${drone.type.name().toLowerCase()} + '.jpg'}"
                     alt="Drone Image"
                     style="max-width: 100px; max-height: 100px;"/>
            </td>
            <td th:text="${drone.type.displayValue}"/>
            <td th:text="${drone.load}"/>
            <td th:text="${drone.loadMax}"/>
            <td th:text="${drone.batteryLeft}"/>
            <td th:text="${drone.state.displayValue}"/>

        </tr>
    </table>
    <div class="starter-template">
        <h2><span>ADD <a th:href="@{/drone-new}">NEW</a> DRONE</a></span></h2>
    </div>
</main>
<!-- /.container -->

<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>