<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Drone Dispatcher</title>

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>

</head>

<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">Home</a>
</nav>

<main role="main" class="container">

    <div class="starter-template">
        <h1><span th:text="${helloString}"></span></h1>
    </div>
    <div class="starter-template">
        <h2><span th:text="'DroneCount: ' + ${droneCount}"></span></h2>
    </div>

    <tr th:each="drone: ${drones}">
        <td th:text="${drone.id}" />
        <td th:text="${drone.getModel()}" />
    </tr>

</main>
<!-- /.container -->

<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>